<%- include('../partials/header') %>

    
  <h1><%= skill.skill %></h1>
  <h2><%= skill.id %></h2>
  
  

  <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
  <br>
  <br>
  <form action="/skills/:id/?_method=DELETE"
    method="POST">
    <button type="submit">Remove Skill</button>
  </form> 

<%- include('../partials/footer') %>